<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>SMDR Logger > $date</title>
<link href="../../resources/smdr.css" type="text/css" rel="stylesheet">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>
	<div id="header"></div>
	<div id="breadcrumb"><span><a href="index.html">SMDR Logs</a> > $date</span></div>
	<div id="table">
		<table>
			<tr>
				<th></th>
				<th>Call Type</th>
				<th>Extention</th>
				<th>Number Dialed</th>
				<th>DID</th>
				<th>Start Time</th>
				<th>Call Duration</th>
				<th>Account Code</th>
			</tr>
